/*----------------------------------------整体样式----------------------------------------*/
*{
	padding: 0;
	margin: 0;
}
body{
	/*background-color: green;*/
}
.main{
	/*border: 1px pink solid;*/
	background-color: #F1F1F1;
	/*padding: 2px;*/
}
/*----------------------------------------头部样式----------------------------------------*/
.header{
	background-color: #333333;
	border-bottom: 2px #424F5A solid; 
	width: 100%;
	height: 38px;
	overflow: hidden;
}
.header_bar{
	/*background-color: #424F5A;*/
	width: 1200px;
	margin: auto;
	height: 40px;
}
/*头部链接*/
.header_bar a:link,.header_bar a:visited{
	display:block;
	float: right;
	color: #fff;
	height: 20px;
	font-size:14px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
	background-color:#989898;
	border: 2px #CCCCCC solid;
	padding: 3px 9px 1px 9px;
	margin-right: 2px;
}
.header_bar a:hover,.header_bar a:active{
	color: #000;
}
/*头部logo*/
.logo{
	float: left;
	color: #CCCCCC;
	/*background-color: yellow;*/
	margin-top: 8px;
}
/*头部登录*/
.login{
	/*border: 1px red solid;*/
	float: right;
	padding-top: 6px;
}
/*头部搜索*/
.search{
	float: right;
	padding-top: 6px;
}
.search_text{
	width: 200px;
	height: 24px;
	padding: 0px 4px;
	background-color: #989898;
	border: 2px #CCCCCC solid;
	margin-left: -4px;
}
.search_button{
	padding: 0 8px;
	height: 28px;
	background-color: #989898;
	border: 2px #CCCCCC solid;
	color: #fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-left: -6px;
}
/*----------------------------------------导 航 栏----------------------------------------*/
.nav{
	background-color: #2D8CC6;
	margin: auto;
	margin-top: 10px;
	width: 100%;
	height: 40px;
	text-align: center;
	color: #fff;
}
/*导航栏 box*/
.nav_bar{
	/*position: absolute;*/
	width: 1200px;
	height: 40px;
	margin: 0px auto;
	overflow: hidden;
}
/*导航栏链接*/
.nav_bar a:link,.nav_bar a:visited{
	display:block;
	float: left;
	color:#FFFFFF;
	width:186px;
	padding: 7px 6px 8px 6px;
	font-size:18px;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
	background-color:#2D8CC6;
	border-right: 1px #CCCCCC solid;
	border-left: 1px #CCCCCC solid;
}
.nav_bar a:hover,.nav_bar a:active{
	background-color: #7A991A;
}
/*----------------------------------------中部样式----------------------------------------*/
.content{
	width: 1200px;
	margin: 10px auto 0;
	/*background-color: #CCCCCC;*/
	overflow:hidden;
}
/*主页侧边栏*/
.it{
	width: 252px;
	/*border: 1px #CCCCCC solid;*/
	overflow:hidden;
	float: left;
}
/*个人信息*/
.introduce{
	width: 250px;
	height: 304px;
	border: 1px #CCCCCC solid;
	background-color: #F1F1F1;
	overflow: hidden;
	text-align: center;
}
/*侧边栏小标题*/
.stitle{
	border-bottom: 1px #cccccc dashed;
	font-family: 宋体;
	color: #838383;
	padding: 2px;
	font-weight: bold;
}
.myinfo{
	/*border: 1px solid pink;*/
	width: 200px;
	height: 180px;
	margin: 10px auto 0;
	text-align: left;
}
.myinfo p{
	border-top: 1px #CCCCCC dashed;
	margin: 5px;
	font-size: 14px;
}
.myinfo span{
	color: #908E89;
	font-size: 14px;
	margin-left: 5px;
}
.test{
	width: 250px;
	height: 349px;
	border: 1px #CCCCCC solid;
	text-align: center;
	margin-top: 5px;
}
/*头像*/
.avatar{
	/*border: 2px #CCCCCC solid;*/
	border-bottom: 1px #ADADAD solid;
	border-right: 1px #ADADAD solid;
	border-top: 1px #CCCCCC solid;
	border-left: 1px #CCCCCC solid;
	width: 80px; 
	height: 70px;
	margin: 5px 5px 0;
}
/*帖子*/
.artical_card{
	width: 939px;
	border: 1px #CCCCCC solid;
	background-color: #F1F1F1;
	overflow:hidden;
	float: right;
}
.artical_card_one{
	width: 450px;
	height: 112px;
	padding: 5px 5px;
	border: 1px #CCCCCC solid;
	background-color: #F1F2F2;
	margin: 4px 0 4px 5px;
	overflow: hidden;
	float: left;
	font-size: 16px;
	font-family: 宋体;
}
/*帖子标题*/
.title{
	text-align: center;
}
.author{
	font-size: 12px;
	font-family: 宋体;
	text-align: center;
}
/*----------------------------------------尾部样式----------------------------------------*/
.footer{
	background-color: #333333;
	border-bottom: 2px #424F5A solid;
	height: 40px;
}
.footer_bar{
	/*background-color: #fff;*/
	/*border: 1px pink solid;*/
	border-bottom: 2px #424F5A solid;
	background-color: #333333;
	width: 1200px;
	height: 37px;
	text-align: center;
	padding-top: 3px;
	margin: auto;
	font-size: 12px;
	color: #CCCCCC
}